<!-- <input type="file" (change)="onFileSelected($event)">

<button type="button" (click)="onUpload()"> Upload </button> -->

<!-- 
<input type="file" value="import file" #file (change)="fileChange($event)" ngModel #file="ngModel"
    [(ngModel)]="filePath" />
<br /> {{file.value}}
<br /> -->
-----
<!-- 
<button type="button" class="btn" (click)="file.click()"> Browse </button> -->
---
<!-- <br />
<button (click)="ConvertToText()">Convert</button>
<textarea> {{text}} </textarea> -->

<app-upload></app-upload>